both{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:darkviolet;
    height: 100%;
    width: 100%;
}

header{
    height: 20%;
}

.menu-opcoes ul{
    font-size: 20px;
}

.menu-opcoes a{
    color: #003366;
    margin-right: 15px;
}

.menu-opcoes{
    position: absolute;
    top: 0px;
    right: 0px;
}

.menu-opcoes ul li{
    display: inline;
    margin-left: 30px;
}

.menu-opcoes a:hover{
    color: skyblue;
}

.menu-opcoes a:active{
    color: blueviolet;
}

main{
    height: 65%;
}

#imgLogo {
    width: 150px;
    height: auto;
}