#lupa{
    width: 5%;
    height: auto;
}

.busca, .menu-conteudo{
    background-color: skyblue;
    font-weight: bold;/*negrito*/
    text-transform: uppercase;/*maiúscula*/
    width: 25%;
    margin-right: 10px;
    float: left;
}

.busca h2, .busca form, .menu-conteudo h2{
    margin: 10px;
}

.menu-conteudo li{
    background-color: rgb(151, 216, 241);
    margin-bottom: 2px;
    padding: 5px 10px;
}

.menu-conteudo a{
    color: blueviolet;
}

.menu-conteudo{
    clear: left;
    margin-top: 10px;
    padding: 10px;
}

.busca input{
    vertical-align: middle;
}

.destaque{
    margin-top: 10px;
}

.busca input[type=search]{
    width: 170px;
}

.menu-conteudo li ul{
    /*display: none vai esconder o elemento*/
    display: none;
}

.menu-conteudo li:hover ul{  
    display: block;
}

.menu-conteudo ul ul li{
    background-color: #dcdcdcdc;
}

.busca{
    border-radius: 10px;
}