.container{
    width: 96%;
}

header img{
    text-align: center;
    width: 20%;
    height: auto;
}

.menu-opcoes{
    text-align:justify;
    position: static;
}

.menu-opcoes ul li{
    display: inline-block;
    margin: 5px;
}

.busca .menu-conteudo{
    margin-right: 0;
    width: 100px;
}

.painel{
    width: 100%;
    padding: auto;
}

.painel li{
    width: 25%;
}

video{
    width: 80%;
    height: auto;
}

#inputlupa{
    width: 75%;
}

#lupa {
    width: 20%;
}

#imagem {
    width: 67%;
    height: auto;
}