body {
    margin: 0;
    padding: 0;
}

.fundo {
    background-color: crimson;
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
    width: 220px;
}

.botao {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border: none;
    color: white;
    margin: 1px;
}

.botao:hover {
    background-color: black;
}

.igual{
    width: 106px;
    height: 50px;
}
