.dpainel{
    background-color: green;
    width: 800px;
    height: 600px;
    position: relative;
}

#imgt{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 300px;
    bottom: 200px;
}