.container{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.container a[href*=github]{
    color: black;
}

.container a[href*=instagram]{
    color: orangered;
}

.container a[href*=tiktok]{
    color: darkmagenta;
}